# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env

# Ignore log files
*.log

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore build artifacts
build/
dist/
out/

# Ignore npm-debug.log file
npm-debug.log*

# Ignore cache and temp files
.cache/
.temp/
*.tmp/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore sensitive information
config.js
