<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="https://images.unsplash.com/photo-1472851294608-062f824d29cc?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Logo">
            <h1>Our Shop</h1>
        </div>
        
        <div class="form-container">
            <h2>Login</h2>
            <form action="/login" method="POST" id="myForm">
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>

        <div class="link-container">
            <p>Don't have an account? <a href="/signup">Signup</a></p>
        </div>
    </div>
    <script>
        // Function to reset the form fields
        function resetForm() {
            document.getElementById('myForm').reset();
        }
        
        // Call the resetForm function when the page loads
        window.onload = resetForm;
    </script>
</body>
</html>
